@using BlazorMonaco.Editor

<div class="text-output">
	<div class="text-editor-wrapper">
		<BlazorMonaco.Editor.StandaloneCodeEditor Id="text-editor" CssClass="text-editor" ConstructionOptions="EditorConstructionOptions"></BlazorMonaco.Editor.StandaloneCodeEditor>
	</div>
	<div class="bottom">
		<div class="button">Download</div>
		<div class="right">Gbx.json</div>
	</div>
</div>

@code {
	[Parameter]
	public TextData? TextData { get; set; }

	private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
	{
		return new StandaloneEditorConstructionOptions
		{
			AutomaticLayout = true,
			Language = "json",
			Theme = "vs-dark",
			Value = TextData?.Text ?? ""
		};
	}
}
