.text-output {
    position: fixed;
    width: 600px;
    height: 500px;
    bottom: 0;
    right: 60px;
    padding: 20px;
    box-shadow: #111 2px 2px 50px;
    z-index: 2;
    background: #222;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    animation: goUp 1s forwards;
}

.text-editor-wrapper {
    height: 90%;
    margin-bottom: 15px;
}

.button {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #FFF;
    transition: 0.2s;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.button-green {
    width: 150px;
    background-color: #0F01;
    border: 2px solid #363;
}

    .button-green:hover {
        border: 2px solid #3A3;
        background: #0F02;
        box-shadow: #222 0px 0px 8px inset;
    }

.button-blue {
    border: 2px solid #39D;
    background: #39D1;
    border: 2px solid #346;
    width: 48px;
}

    .button-blue:hover {
        border: 2px solid #39D;
        background: #39D4;
        box-shadow: #222 0px 0px 8px inset;
    }

.bottom {
    display: flex;
}

.right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.info {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFF;
    transition: 0.2s;
    border: 2px solid #333;
    text-align: center;
    margin: 0 5px;
}

.file {
    position: relative;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.x {
    position: absolute;
    top: 0;
    right: 8px;
    color: #FF3D3D;
    cursor: pointer;
    font-weight: bold;
}

.x:hover {
    color: #FF5D5D;
}

@keyframes goUp {
    0% {
        bottom: -600px;
    }

    100% {
        bottom: 0;
    }
}