@rendermode InteractiveAuto

@inject NavigationManager NavManager
@inject IEnumerable<IoTool> Tools

<div class="menu @(Highlight ? "highlight" : "")">
    <ul> <!-- order by popularity -->
        @foreach (var tool in Tools)
        {
            <li><a href="@tool.Endpoint" class="@GetActive(tool.Endpoint)">@tool.Name</a></li>
        }
    </ul>
    <div class="footer">
        <div>
            <a href="https://github.com/BigBang1112/gbx-io" title="GitHub">
                <img src="_content/GbxIo.Components/github-small.png" width="24" height="24" />
            </a>
            <a href="https://hub.docker.com/r/bigbang1112/gbx-io" title="Docker Image">
                <img src="_content/GbxIo.Components/docker-small.png" width="24" height="24" />
            </a>
            <a href="https://discord.gg/9wAAJvKYyE" title="GameBox Sandbox Discord Server">
                <img src="_content/GbxIo.Components/discord-small.png" width="24" height="24" />
            </a>
            <a href="https://paypal.me/bigbang1112" title="Donate">
                <img src="_content/GbxIo.Components/paypal-small.png" width="24" height="24" />
            </a>
        </div>
        <a href="https://explorer.gbx.tools" title="Time to explore..?">Feeling advanced?</a>
    </div>
</div>

@code {
    [Parameter]
    public bool Highlight { get; set; }

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += (s, e) =>
        {
            StateHasChanged();
        };
    }

    private bool IsActive(string href)
    {
        var uri = new Uri(NavManager.Uri).GetLeftPart(UriPartial.Path);
        var relativePath = NavManager.ToBaseRelativePath(uri).ToLower();
        return relativePath == href.ToLower();
    }

    private string GetActive(string href)
    {
        return IsActive(href) ? "active" : "";
    }
}