@rendermode InteractiveAuto

@inject NavigationManager NavManager
@inject IEnumerable<IoTool> Tools

<div class="menu">
    <ul> <!-- order by popularity -->
        @foreach (var tool in Tools)
        {
            <li><a href="@tool.Endpoint" class="@GetActive(tool.Endpoint)">@tool.Name</a></li>
        }
    </ul>
    <div class="footer">
        <div>
            <a href="#">
                <img src="_content/GbxIo.Components/github-small.png" width="24" height="24" />
            </a>
            <a href="#">
                <img src="_content/GbxIo.Components/docker-small.png" width="24" height="24" />
            </a>
            <a href="#">
                <img src="_content/GbxIo.Components/discord-small.png" width="24" height="24" />
            </a>
        </div>
        <a href="https://explorer.gbx.tools">Feeling advanced?</a>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        NavManager.LocationChanged += (s, e) =>
        {
            StateHasChanged();
        };
    }

    private bool IsActive(string href)
    {
        var uri = new Uri(NavManager.Uri).GetLeftPart(UriPartial.Path);
        var relativePath = NavManager.ToBaseRelativePath(uri).ToLower();
        return relativePath == href.ToLower();
    }

    private string GetActive(string href)
    {
        return IsActive(href) ? "active" : "";
    }
}