.menu {
    width: 250px;
    margin: 60px;
    box-shadow: #111 2px 2px 50px;
    z-index: 2;
    background: #222;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 5px;
}

    .menu.highlight {
        outline-width: 2px;
        outline-color: transparent;
        outline-style: solid;
        animation: highlight 1s;
    }

@keyframes highlight {
    0% {
        outline-color: transparent;
    }

    50% {
        outline-color: yellow;
    }

    100% {
        outline-color: transparent;
    }
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .menu ul li {
        text-align: center;
        border-bottom: 1px solid #333;
    }

        .menu ul li a {
            display: block;
            padding: 5px;
            text-decoration: none;
            color: #FFF;
            transition: 0.2s;
            border: 2px solid #222;
            border-radius: 2px;
        }

            .menu ul li a:hover {
                border: 2px solid #39D;
                background: #39D4;
                box-shadow: #222 0px 0px 8px inset;
            }

            .menu ul li a.active {
                border: 2px solid #39D;
                background: #39D4;
                box-shadow: #222 0px 0px 8px inset;
            }



.footer {
    display: flex;
    padding: 15px 15px 8px 15px;
    font-size: 12px;
}

    .footer > div {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 8px;
    }

        .footer > div > a > img:hover {
            filter: drop-shadow(1px 1px 3px #888);
        }