<div class="menu">
    <ul> <!-- order by popularity -->
        <li>Optimize Gbx</li>
        <li>Decompress Gbx</li>
        <li>Extract map from replay</li>
        <li>Extract thumbnail/icon</li>
        <li>Extract embedded items</li>
        <li>Extract ghosts</li>
        <li>Extract inputs</li>
        <li>Extract inputs (TMI)</li>
        <li>Gbx to JSON</li>
    </ul>
</div>