@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face {
    font-family: 'Mona Sans';
    src: url('Mona-Sans.woff2') format('woff2 supports variations'), url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

body,
html {
    font-family: "Mona Sans";
    font-optical-sizing: auto;
    font-size: 92%;
    font-weight: 400;
    font-stretch: 110%;
    background: #222;
    color: #eee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    width: 100%;
}

.files {
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

a {
    color: #39D;
    text-decoration: none;
}

a:hover {
    color: #5BF;
    text-decoration: underline;
}

.monaco-editor-container { /* for all editor instances */
    height: 100%;
    border: 1px solid #333;
    border-radius: 5px;
}

h1, h2, h3, p {
    margin: 0;
}